# https://github.com/koalaman/shellcheck/blob/master/shellcheck.1.md#rc-files

shell=sh
enable=all
severity=style
disable=SC1091  # (info): Not following: {} was not specified as input (see shellcheck -x).
