MACHINE = "zynqmp-artiq"
DISTRO = "petalinux-artiq"

# SEE: meta-xilinx/meta-xilinx-core/dynamic-layers/openamp-layer/recipes-bsp/device-tree/device-tree.bbappend
# SEE: meta-xilinx/meta-xilinx-core/dynamic-layers/openamp-layer/recipes-core/packagegroups/packagegroup-openamp.bb
ENABLE_OPENAMP_DTSI = "0"

DL_DIR = "${TOPDIR}/../downloads"
SSTATE_DIR = "${TOPDIR}/../sstate-cache"
INHERIT += "own-mirrors"
SOURCE_MIRROR_URL = "https://petalinux.xilinx.com/sswreleases/rel-v2025.2/downloads"
SSTATE_MIRRORS = " \
    file://.*  https://petalinux.xilinx.com/sswreleases/rel-v2025.2/aarch64/sstate-cache/PATH;downloadfilename=PATH \
"

BB_HASHSERVE = ""
BB_SIGNATURE_HANDLER = "OEBasicHash"
PRSERV_HOST = "localhost:0"

LICENSE_FLAGS_ACCEPTED = " \
    xilinx \
"

SKIP_META_XILINX_MALI400_SANITY_CHECK = "1"
SKIP_META_XILINX_STANDALONE_SANITY_CHECK = "1"
SKIP_META_XILINX_STANDALONE_SDT_SANITY_CHECK = "1"
SKIP_META_XILINX_TOOLS_SANITY_CHECK = "1"
SKIP_META_VIRT_SANITY_CHECK = "1"
SKIP_META_SECURITY_SANITY_CHECK = "1"
SKIP_META_TPM_SANITY_CHECK = "1"
SKIP_META_GNOME_SANITY_CHECK = "1"
SKIP_META_RAUC_FEATURE_CHECK = "1"

include gen-machineconf.conf
